body
{
    background-color:darkslategray;

    
}

li
{
    color:orangered;
	text-shadow: 1px 1px black;
    font-size:20pt;
    
}

u.pontos
{
     font-size:24pt;
}

u
{
    color:orangered;
    text-shadow: 1px 1px black;
    line-height: 0;
    font-size:17pt;
    line-height: 0.9;
    
}

i.tab
{
    color:darkslategray;
    text-shadow: 0px 0px darkslategray;
}

p
{
	color:darkorange;
	text-align:justify;
	font-size:14pt;
    line-height: 0.9;
    text-shadow: 1px 1px black;
   
    
}

p.buff
{
    color:limegreen;
	text-align:justify;
	font-size:14pt;
    line-height: 0.9;
    text-shadow: 1px 1px black;
}

p.nerf
{
   color:orangered;
	text-align:justify;
	font-size:14pt;
    line-height: 0.9;
    text-shadow: 1px 1px black; 
}

h2
{
	color:darkorange;
	text-shadow: 1px 1px black;
	text-align:center;
	font-size:17pt;
}

h1
{
	color:darkorange;
    text-align: center;
    text-shadow: 2px 1px black;
    font-size:30pt;
    text-decoration: underline;
}

a:visited
{
    color:purple;
}

a:link
{
    color:darkgreen;
}

a:hover
{
   color:red; 
}

a:active
{
    color:blue;
}

img
{
	border:5px solid;
	border-color:black;
	display:block;
	margin:auto;
}

img.barbar
{
    border: 0;
    position: absolute;
    left:1050px; 
    top:300px;
    z-index: -1;
    height: 200px;
}

img.lovag
{
    border: 0;
    position: absolute;
    left:600px; 
    top:100px;
    z-index: -1;
    height: 220px;
}

img.malac
{
    border: 0;
    position: absolute;
    left:800px; 
    top:70px;
    z-index: -1;
    height: 200px;
}

img.faronk
{
    border: 0;
    position: absolute;
    left:740px; 
    top:220px;
    z-index: -1;
    width: 170px;
}

img.boszi
{
    border: 0;
    position: absolute;
    left:1000px; 
    top:80px;
    z-index: -1;
    height: 180px;
}

img.csonti1
{
    border: 0;
    position: absolute;
    left:950px; 
    top:150px;
    z-index: -3;
    height: 80px;
}

img.csonti2
{
    border: 0;
    position: absolute;
    left:940px; 
    top:180px;
    z-index: -1;
    height: 80px;
}

img.csonti3
{
    border: 0;
    position: absolute;
    left:1000px; 
    top:200px;
    z-index: +1;
    height: 80px;
}

table
{
    text-align: center;
    color:darkorange;
    font-size: 14pt;
    text-shadow: 1px 1px black;
    border: 2pt solid black;
   margin-bottom:20px;
    
    
}

td.mezonev
{
    font-weight: bold;
    width:150;
}

td
{
    border: 1px solid black;
}
b
{
    color: orange;
}