body
{
    background-color:dodgerblue;
    
}

li
{
    color:mediumblue;
	text-shadow: 1px 1px mediumpurple;
    font-weight: bold;
    font-size:20pt;
    
    
}
u
{
    color:mediumblue;
    text-shadow: 1px 1px mediumpurple;
    line-height: 0;
}
p
{
	color:darkorange;
	text-align:justify;
	font-size:14pt;
    line-height: 0.8;
    text-shadow: 1px 1px black;
   
    
}
h2
{
	color:darkorange;
	text-shadow: 1px 1px black;
	text-align:center;
	font-size:17pt;
}
h1
{
	color:darkorange;
    text-align: center;
    text-shadow: 2px 1px black;
    font-size:30pt;
    text-decoration: underline;
}

a:visited
{
    color:purple;
}
a:link
{
    color:darkgreen;
}
a:hover
{
   color:red; 
}
a:active
{
    color:blue;
}
img
{
	border:5px solid;
	border-color:black;
	display:block;
	margin:auto;
}